
* { padding:0; margin: 0; box-sizing: border-box; background-repeat: no-repeat; background-position: 0 0; background-size: 100% auto;}
html, body { height: 100%; overflow: hidden; }
body { font-size: 12px; background: #2a391c; color: #fff;}

section { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
section>* { position: absolute; top: 0; left: 0; width: 100%; }
img { max-width: 100%;}
.wrapper { position: relative; width: 100%; height: 100%; }
.game canvas { width: 100%; height: 100%; }


